<nav class="navbar navbar-light bg-primary d-flex justify-content-start align-items-center mb-3">
    <a href="/" class="navbar-brand link-logo">
        <img src="/images/logo.png" class="logo" alt="logo da página">
    </a>
    <p class="mb-0 text-white fw-bold">Perguntas e Respostas</p>
</nav>